* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.background {
  background: url(images/headercoin.png);
  display: flex;
  height: 300px;
  position: relative;
  justify-content: center;
}

.logo {
  display: flexbox;
  align-items: center;
  top: 25px;
  height: 250px;
  position: absolute;
  width: 250px;
}

.doublecoins {
  margin: 50px;
}

.silvercoin {
  margin-left: 100px;
}

.text1 {
  margin: 20px;
}

.gold {
  background-color: #D19D2A;
  box-shadow:  2px 2px 2px gray ;
}

.four-coins {
  background: no-repeat url(/images/fourdollars.png);
  height: 350px;
}

h2 {
  margin-bottom: 40px;
}

.container-part2,
.container-part4 {
  background-color: rgba(199, 172, 140, 0.22);
  padding: 20px;
}

.container-part3 {
  /* align-items: center;
  /* display: flex; */
  margin: 20px;
  margin-bottom: 40px;
}

/* .coins,
.kennedy
.stock {
  display: flex;
  flex-direction: column;
} */

.coins {
  background: no-repeat url(/images/coins.png);
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  box-shadow:  2px 2px 2px #D19D2A;
}

.kennedy {
  background: no-repeat url(/images/kennedycoin.png);
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  box-shadow:  2px 2px 2px #D19D2A;
}

.stock {
  background: no-repeat url(/images/stockcoin.png);
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  box-shadow:  2px 2px 2px #D19D2A;
}

.gold .gold4 {
  text-align: center;
}

.goldpesetas,
.silverpesetas {
  background: center / cover no-repeat url(/images/goldpesetas.png);
  width: 250px;
  height: 125px;
}

.silverpesetas {
  background: center / cover no-repeat url(/images/silverpesetas.png);
  width: 291px;
  height: 120px;
}

.goldpesetas,
.silverpesetas {
  margin-top: 25px;
}


@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1200px) {

}