* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.background {
  background: center / cover no-repeat url(images/headercoin.png);
  display: flex;
  height: 300px;
  position: relative;
  justify-content: center;
}

.logo {
  display: flexbox;
  align-items: center;
  top: 25px;
  height: 250px;
  position: absolute;
  width: 250px;
}

.doublecoins {
  margin: 50px;
}

.silvercoin {
  margin-left: 100px;
}

.text1,
.text2,
.text3,
.text4 {
  margin-left: 20px;
  padding-bottom: 20px;;
}

/* .holecoin {
  width: 100px;
} */

.gold {
  background-color: #D19D2A;
  box-shadow:  2px 2px 2px gray ;
}

.four-coins {
  background: no-repeat url(/images/fourdollars.png);
  height: 350px;
}

h2 {
  margin-bottom: 40px;
}

.container-part2,
.container-part4 {
  background-color: rgba(199, 172, 140, 0.22);
}

.container-part3 {
  /* align-items: center;
  /* display: flex; */
  margin: 20px;
  margin-bottom: 40px;
}

/* .coins,
.kennedy
.stock {
  display: flex;
  flex-direction: column;
} */

.coins {
  background: center / cover no-repeat url(/images/coins.png);
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  box-shadow:  2px 2px 2px #D19D2A;
}

.kennedy {
  background: center / cover no-repeat url(/images/kennedycoin.png);
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  box-shadow:  2px 2px 2px #D19D2A;
}

.stock {
  background: center / cover  no-repeat url(/images/stockcoin.png);
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  box-shadow:  2px 2px 2px #D19D2A;
}

/* .gold .gold4 {
  text-align: center;
} */

.goldpesetas,
.silverpesetas {
  background: center / cover no-repeat url(/images/goldpesetas.png);
  width: 100%;
  height: 125px;
}

.silverpesetas {
  background: center / cover no-repeat url(/images/silverpesetas.png);
  width: 291px;
  height: 120px;
}

.goldpesetas,
.silverpesetas {
  margin-top: 25px;
}


@media screen and (min-width: 768px) {
  main  {
    font-size: 20px;
  }
  .doublecoins {
    text-align: center;
  }
  .text1,
  .text2,
  .text3,
  .text4 {
    margin-left: 35px;
  }
  .holecoin {
    margin-left: 450px;
  }
  .four-coins {
    margin: 30px;
    margin-left: 200px;
  }
  .coins,
  .kennedy,
  .stock {
    width: 100%;
    height: 200px;
  }
  .goldpesetas {
    height: 250px;
    width: 470px;
    margin-left: 50px;
  }
  .silverpesetas {
    height: 250px;
    width: 650px;
  }
}

@media screen and (min-width: 992px) {
  main  {
    font-size: 22px;
  }
  .container-part1 {
    display: inline-flex;
  }
  .text1 {
    margin-top: 140px;
  }
  .doublecoins {
    margin-top: 120px;
  }
  .text2,
  .text3,
  .text4 {
    margin-left: 50px;
  }
  .holecoin {
    margin-left: 850px;
  }
  .four-coins {
    margin: 30px;
    margin-left: 480px;
  }
  .coins,
  .kennedy,
  .stock {
    display: inline-flex;
    width: 320px;
    height: 170px;
    margin-left: 100px;
  }
  .goldpesetas,
  .silverpesetas {
    margin-left: 350px;
    height: 250px;
    width: 470px;
  }
}

@media screen and (min-width: 1200px) {
  
}